:root {
    --themaLeft: 400;
    --themaKwTop:355;
    --kwLeft: 2100;
    --datumLeft: 370;
    --datumTop: 558;
    --datumDiffTop: 155;
    --eintragLeft: 570;
    --eintragTop: 559;
    --eintragDiffTop: 155;
    --bemTop: 1400;
    --dozLeft: 2000;
    --dozTop: 599;
}

body {
    background-color: white;
    background-image: url("../img/Klassenbuch.png");
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
#next{
    position: absolute;
    left: 1000px;
    top: 50px;
}
#previous{
    position: absolute;
    left: 150px;
    top: 50px;
}
#save{
    position: absolute;
    left: 500px;
    top: 50px;
}
.navtext{
    font-size: 40px;
}
#thema {
    position: absolute;
    left: calc(var(--themaLeft) * 1px);
    top: calc(var(--themaKwTop) * 1px);
    font-size: 46px;
}

#kw {
    position: absolute;
    left: calc(var(--kwLeft) * 1px);
    top:  calc(var(--themaKwTop) * 1px + 5px);
}

#datum0 {
    position: absolute;
    left:  calc(var(--datumLeft )* 1px);
    top:  calc(var(--datumTop) * 1px + 0 * var(--datumDiffTop) * 1px);
}

#datum1 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 1 * var(--datumDiffTop) * 1px);
}

#datum2 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 2 * var(--datumDiffTop) * 1px);
}

#datum3 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top: calc(var(--datumTop) * 1px + 3 * var(--datumDiffTop) * 1px);
}

#datum4 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 4 * var(--datumDiffTop) * 1px);
}

#bem {
    position: absolute;
    left:  calc(var(--datumLeft)* 1px);
    top:  calc(var(--bemTop) * 1px);
}

input {
    font-size: 36px;
    border: none;
}

.zahlen {
    font-size: 30px;
}

#eintrag0 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 0 * var(--eintragDiffTop) * 1px);
}

#eintrag1 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 0 * var(--eintragDiffTop) * 1px + 70px);
}

#eintrag2 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 1 * var(--eintragDiffTop) * 1px);
}

#eintrag3 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 1 * var(--eintragDiffTop) * 1px + 70px);
}

#eintrag4 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 2 * var(--eintragDiffTop) * 1px);
}

#eintrag5 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 2 * var(--eintragDiffTop) * 1px + 70px);
}

#eintrag6 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 3 * var(--eintragDiffTop) * 1px);
}

#eintrag7 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 3 * var(--eintragDiffTop) * 1px + 70px);
}

#eintrag8 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 4 * var(--eintragDiffTop) * 1px);
}

#eintrag9 {
    position: absolute;
    left: calc(var(--eintragLeft) * 1px);
    top:  calc(var(--eintragTop) * 1px + 4 * var(--eintragDiffTop) * 1px + 70px);
}

#doz1 {
    position: absolute;
    left:  calc(var(--dozLeft) * 1px);
    top:  calc(var(--dozTop) * 1px + 0 * var(--datumDiffTop) * 1px);
}

#doz2 {
    position: absolute;
    left:  calc(var(--dozLeft) * 1px);
    top:  calc(var(--dozTop) * 1px + 1 * var(--datumDiffTop) * 1px);
}

#doz3 {
    position: absolute;
    left:  calc(var(--dozLeft) * 1px);
    top:  calc(var(--dozTop) * 1px + 2 * var(--datumDiffTop) * 1px);
}

#doz4 {
    position: absolute;
    left:  calc(var(--dozLeft) * 1px);
    top:  calc(var(--dozTop) * 1px + 3 * var(--datumDiffTop) * 1px);
}

#doz5 {
    position: absolute;
    left:  calc(var(--dozLeft) * 1px);
    top:  calc(var(--dozTop) * 1px + 4 * var(--datumDiffTop) * 1px);
}
