:root {
    --themaLeft: 400;
    --themaKwTop:355;
    --kwLeft: 2100;
    --datumLeft: 370;
    --datumTop: 558;
    --datumDiffTop: 155;
    --lessonLeft: 570;
    --lessonTop: 559;
    --lessonDiffTop: 155;
    --bemTop: 1400;
    --teacherLeft: 2000;
    --teacherTop: 599;
    --lessionContentLength: 1100px;
    --teacherInputLenght: 175px;
}

body {
    background-color: white;
    background-image: url("../img/Klassenbuch.png");
    background-repeat: no-repeat;
    background-size: 2350px;
    /*background-attachment: fixed;*/
    background-position: -2% 0%;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
#next{
    position: absolute;
    left: 1000px;
    top: 50px;
}
#previous{
    position: absolute;
    left: 150px;
    top: 50px;
}
#save{
    position: absolute;
    left: 500px;
    top: 50px;
}
.navtext{
    font-size: 40px;
}
#module {
    position: absolute;
    left: calc(var(--themaLeft) * 1px);
    top: calc(var(--themaKwTop) * 1px);
    font-size: 46px;
}

#kw {
    position: absolute;
    left: calc(var(--kwLeft) * 1px);
    top:  calc(var(--themaKwTop) * 1px + 5px);
}

#datum0 {
    position: absolute;
    left:  calc(var(--datumLeft )* 1px);
    top:  calc(var(--datumTop) * 1px + 0 * var(--datumDiffTop) * 1px);
}

#datum1 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 1 * var(--datumDiffTop) * 1px);
}

#datum2 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 2 * var(--datumDiffTop) * 1px);
}

#datum3 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top: calc(var(--datumTop) * 1px + 3 * var(--datumDiffTop) * 1px);
}

#datum4 {
    position: absolute;
    left:  calc(var(--datumLeft) * 1px);
    top:  calc(var(--datumTop) * 1px + 4 * var(--datumDiffTop) * 1px);
}

#notice {
    position: absolute;
    left:  calc(var(--datumLeft)* 1px);
    top:  calc(var(--bemTop) * 1px);
}

input {
    font-size: 36px;
    border: none;
}

.zahlen {
    font-size: 30px;
}

#lesson0 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 0 * var(--lessonDiffTop) * 1px);
}

#lesson1 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 0 * var(--lessonDiffTop) * 1px + 70px);
}

#lesson2 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 1 * var(--lessonDiffTop) * 1px);
}

#lesson3 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 1 * var(--lessonDiffTop) * 1px + 70px);
}

#lesson4 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 2 * var(--lessonDiffTop) * 1px);
}

#lesson5 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 2 * var(--lessonDiffTop) * 1px + 70px);
}

#lesson6 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 3 * var(--lessonDiffTop) * 1px);
}

#lesson7 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 3 * var(--lessonDiffTop) * 1px + 70px);
}

#lesson8 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 4 * var(--lessonDiffTop) * 1px);
}

#lesson9 {
    position: absolute;
    left: calc(var(--lessonLeft) * 1px);
    top:  calc(var(--lessonTop) * 1px + 4 * var(--lessonDiffTop) * 1px + 70px);
}

#teacher1 {
    position: absolute;
    left:  calc(var(--teacherLeft) * 1px);
    top:  calc(var(--teacherTop) * 1px + 0 * var(--datumDiffTop) * 1px);
}

#teacher2 {
    position: absolute;
    left:  calc(var(--teacherLeft) * 1px);
    top:  calc(var(--teacherTop) * 1px + 1 * var(--datumDiffTop) * 1px);
}

#teacher3 {
    position: absolute;
    left:  calc(var(--teacherLeft) * 1px);
    top:  calc(var(--teacherTop) * 1px + 2 * var(--datumDiffTop) * 1px);
}

#teacher4 {
    position: absolute;
    left:  calc(var(--teacherLeft) * 1px);
    top:  calc(var(--teacherTop) * 1px + 3 * var(--datumDiffTop) * 1px);
}

#teacher5 {
    position: absolute;
    left:  calc(var(--teacherLeft) * 1px);
    top:  calc(var(--teacherTop) * 1px + 4 * var(--datumDiffTop) * 1px);
}

.checkbox1 {
    font-family: Calibri, sans-serif;
    font-size: 22px;
    position: absolute;
    left: 1675px;
    display: flex;
    align-items: center;
}
.checkbox2 {
    font-family: Calibri, sans-serif;
    font-size: 22px;
    position: absolute;
    left: 1675px;
    display: flex;
    align-items: center;
}
.checkbox3 {
    font-family: Calibri, sans-serif;
    font-size: 22px;
    position: absolute;
    left: 1675px;
    display: flex;
    align-items: center;
}
.checkbox4 {
    font-family: Calibri, sans-serif;
    font-size: 22px;
    position: absolute;
    left: 1675px;
    display: flex;
    align-items: center;
}